/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
    border-radius: 4px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF8B00; 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff9f2a; 
  }
.seperator{
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

button img{
    height: 20px;
    width: 20px;
}

.btn_dish{
    height: 24px;
    width: 24px;
    color: #FF8B00;
    border: solid 0.5px rgba(0, 0, 0, 0.3);
    background-color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_dish :hover{
    background-color: #ff8c0028;
}

.btn_basket{
    height: 20px;
    width: 20px;
    background-color: white;
    cursor: pointer;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_basket :hover{
    background-color: #ff8c0028;
}